---
- name: Configure kafka-ui
  ansible.builtin.template:
    src: application.yml.j2
    dest: "{{ kafka_ui_config_dir }}/application.yml"
    owner: "{{ kafka_ui_user }}"
    group: "{{ kafka_ui_group }}"
    mode: '0644'
  notify: Restart kafka-ui

- name: Enable and start kafka-ui service
  ansible.builtin.systemd:
    name: kafka-ui
    enabled: true
    state: started
